<html>
<body>
<h1>Upcoming tournaments</h1>
<form method="post" action="/save-selected-tournaments">
<% tournaments.forEach(function(tournament) { %>
    <%= tournament.name %>&nbsp;<input type="checkbox" value="<%= tournament.key %>" name="tournaments"><br>
<% }) %>
<input type="hidden"  name="token" value="<%= token %>">
<button type="submit">Save</button>
</form>
</body>
</html>